/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #087f5b 
GREY COLOR: #343a40 
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: 'Open Sans', sans-serif;
  color: #343a40 ;
  border-bottom: 5px solid #099268;
  margin-bottom: 50px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 150px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -.5px;
}

.btn:link,
.btn:visited{
  background-color: #087f5b ;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  /* padding: 20px 32px; */
  display: inline-block;
  font-weight: 500;
/*   font-size: 18px; */
}

.btn:hover,
.btn:active{
  background-color: #099268;
}


.btn--small{
  font-size: 14px    ;
  padding: 10px 5px ;
  border-radius: 20px;
}

.btn--big{
  font-size: 18px    ;
  padding: 15px 32px    ;
  margin-top: 30px;
  border-radius: 20px;
}


.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  grid-auto-flow:  row;
  column-gap: 80px;
  align-items: center; 
 /*  width: 1000px;
  height: 500px; */
}
/* 1000-160/(3)=280px */

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 48.83px ;/* Need pixels in the code for font-size property */
  line-height: 1.0;
  letter-spacing: -1px;/* Need pixels in the code for letter-spacing property */
/*   text-shadow: 0px 10px 20px #868E96    /* 5 possible values like box shadow-- this adds shadow to an element, 5 values in this order (horizontal px, vertical px, blur px, scale of shadow px (if not specified, it will just be '0') , color of shadow */
} */
/* 48.83px */

.header-text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.7;
/*   letter-spacing: 1px; */
}

img {
 /*  width: 280px;
  height: 250px; */
  width: 100%;
  border-radius: 20px;
}

.girls-chatting {
  grid-column:1/2 ;
  grid-rows: 1/2;
  
}



/* FEATURES */
.feature-icon {
  stroke: #099268;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}



.features-title {
  margin-bottom: 16px;
  font-size: 16px;
}

.features-text {
  font-size: 16px;
  line-height: 1.7;

}

/* TESTIMONIAL */
.testimonial-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #099268;
  border-radius: 20px;
  color: #26dba5;
  padding: 50px;
  width: auto;
  display: inline-flex;
  justify-content:flex-start;

}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
  font-size: 30px;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

/* CHAIRS */

.chair{
  padding: 24px;
  box-shadow: 0px 20px 30px 0px #cec2c2;   /* this adds shadow to an element, 5 values in this order (horizontal px, vertical px, blur px, scale of shadow px (if not specified, it will just be '0') , color of shadow */
  margin-bottom: 32px;
  border-radius: 10px;
/*   border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
}

.chair-box {
  padding: 16px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  font-size: 15px;
  line-height: -160;
  letter-spacing: -1px;
  margin-bottom: 40px;
}

.chair-details li {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #099268 ;
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #868E96;
}
/* WEB DESIGN RULES #2: COLORS NOTES */

/* A COLOR SYSTEM */

/* 1. Make the main color match your website's personality: colors convey meaning! */
/* Red draws a lot of attention, and symbolizes power, passion, and excitement */
/* Orange is less aggressive, and conveys happiness, cheerfulness, and creativity   */
/* Yellow means joy, bightness, and intelligence    */
/* Green represents harmony, nature, growth, health    */
/* Blue is associated with peace, trustworthiness, and professionalism    */
/* Purple conveys wealth, widom, and magic */
/* Pink represents romance, care, and affection    */
/* Brown is associated with nature, durability, and comfort  */
/* Black symbolizes power, elegance and minimalism, but also grief and sorrow   */

/* 2. Use a good color tone! Don't choose a random tone or CSS named colors */



/* 3. Establish a color system: you need at leasst two types of colors in your color palette: a main color and a grey color  */

/* 4. With more experience, you can add more colors: accent (secondary) colors (use a tool) */

/* 5. For diversity, create lighter and darker "versions" (tints and shades) */

/* 6. Use your main color to draw attention to the most important elements on the page */

/* 7. Use colors to add interesting accents or make entire components tor sections tand out */

/* 8. You can try to use your color strategically in images and illustrations */



/* COLORS AND TYPOGRAPHY */
/* 9. On dark colored backgrounds, try to use a tint of the background ("lighter version") for text */

/* 10. Text should usually not be completely black. Lighten it up if it looks heavy and uninviting */

/* 11. Don't make text too light! Use a tool to check contrast between text and background colors
-Contrast ratio needs to be at least 4:5:1 for normal text and 3:1 for large text (18px+)
*/


/* SECTION 5.3 WEB DESIGN RULES #3: IMAGES AND ILLUSTRATIONS */

/* USE GOOD IMAGES
1. DIFF TYPES OF IMAGES: PRODUCT PHOTOS, STORYTELLING PHOTOS, ILLUSTRATIONS, PATTERNS */

/* 2. USE IMAGES TO SUPPORT YOUR WEBSITE'S MESSAGE AND STORY. SO ONLY USE RELEVANT IMAGES! */

/* 3. PREFER ORIGINAL IMAGES. IF NOT POSSIBLE, USE ORIGINAL-LOOKING STOCK IMAGES (NOT GENERIC ONES!) */

/* USE IMAGES WELL BY.... */
/* 4. TRY TO SHOW REAL PEOPLE TO TRIGGER USER'S EMOTIONS */


/* 5. IF NECESSARY, CROP IMAGES TO FIT YOUR MESSAGE */

/* 6. EXPERIMENT COMBINING PHOTOS, ILLUSTRATIONS AND PATTERNS */


/* HANDLING TEXT ON IMAGES */
/* 7. METHOD #1: DARKER OR BRIGHTEN IMAGE (COMPLETELY OR PARTIALLY, USING A GRADIENT) */
/* 8. METHOD #2: POSITION TEXT INTO NEUTRAL IMAGE AREA */
/* 9. METHOD #3: PUT TEXT IN A BOX */


/*SOME TECHNICAL DETAILS */
/* 10. TO ACCOUNT FOR HIGH-RES SCREENS, MAKE IMAGE DIMENSIONS 2X AS BIG AS THEIR DISPLAYED SIZE */
/* I.E. THE IMAGE NEEDS TO BE ORIGINALLY 2 TIMES AS LARGE IN PIXELS THAN WHAT YOU WANT TO SHOW ON THE SITE
-SCALE FACTOR: ACTUAL PIXELS THE SCREEN CONTAINS/PIXELS REPRESENTED ON SCREEN
-ON HIGH-RES SCREENS, SCALE FACTOR IS 2X OR EVEN 3X, ON "NORMAL" SCREENS ITS JUST 1X (1 PHYSICAL PIXEL= 1 DESIGN PIXEL)
*/

/*11. COMPRESS IMAGES FOR A LOWER FILE SIZE AND BETTER PERFORMANCE  */


/* WEB DESIGN RULES #4: ICONS */
/* 1. USE A GOOD ICON PACK, THERE ARE TONS OF FREE AND PAID ICONS PACKS */
/* 2. USE ONLY ONE ICON PACK. DON'T MIX ICONS FROM DIFFERENT ICON PACKS */
/* 3. USE SVG ICONS OR ICON FONTS. DON'T USE BITMAP IMAGE FORMATS (.JPG AND .PNG) */
/* -(SVG IMAGES AND ICON FONTS ARE VECTOR BASED AND SCALE INDEFINITELY
-BITMAP IMAGES LIKE JPG, PNG, GIF DO NOT SCALE WELL AND BECOME UNSHARP */

/* 4. ADJUST TO WEBSITE PERSONALITY! ROUNDNESS, WEIGHT, AND FILLED/OUTLINED DEPEND ON TYPOGRAPHY  */

/* WHEN TO USE ICONS */
/* 5. USE ICONS TO PROVUDE VISUAL ASSISTANCE TO TEXT */
/* 6. USE ICONS FOR PRODUCT FEATURE BLOCKS (IF ICONS ARE GOOD ENOUGH, READER MAY NOT NEED TO READ THE TEXT)  */
/* 7. USE ICONS ASSOCIATED WITH ACTIONS (I.E. LISTEN TO MUSIC, MESSAGE SOMEONE, AND LABEL THEM (UNLESS NO SPACE OR ICON IS 100% CLEAR) */
/* 8. USE ICONS AS BULLET POINTS (I.E. CHECKMARKS, X'S, ETC. */
/* 9. TO KEEP ICONS NEUTRAL, USE SAME COLOR AS TEXT. TO DRAW MORE ATTENTION, USE DIFFERENT COLOR FOR DIFFERENT ICONS. */
/* 10. DON'T CONFUSE YOUR USERS: ICONS NEED TO MAKE SENSE AND FIT THE TEXT OR ACTION! */
/* 11. DON'T MAKE ICONS LARGER THAN WHAT THEY WERE DESIGNED FOR. IF NEEDED, ENCLOSE THEM IN A SHAPE. */


/* WEB DESIGN RULES #5: SHADOWS  */
/* SOME CONCEPTS FIRST.. */
/* SKEUMORPHIC DESING IS VERY GLOSSY LOOKING WITH LOTS OF SHADOWS */
/* FLAT DESIGN (MINIMAL): STRIPPED DOWN */
/* FLAT DESIGN 2.0 (STILL MINIMAL, BUT BRINGS BACK SHADOWS AND DEPTH FOR BETTER USABILITY */

/* AFTER AN ERA OF 100% FLAT DESING, WE'RE NOW BACK TO USING SHADOWS IN UI DESING ("FLAT DESIGN 2.0")
SHADOW CREATES DEPTH (3D): THE MORE SHADOW, THE FURTHER AWAY FROM THE INTERFACE THE ELEMENT IS */


/* USE SHADOWS WELL */
/* 1. YOU DON'T HAVE TOO USE SHADOWS! ONLY USE THEM IF IT MAKES SENSE FOR THE WEBSITE PERSONALITY */
/* -USE LESS SHADOWS FOR A MORE SERIOUS/ELEGANT LOOK AND
-USE MORE SHADOWS FOR A MORE PLAYFUL AND FUN LOOK */
/* 2. USE SHADOWS IN SMALL DOSES: DON'T ADD SHADOWS TO EVERY ELEMENT! */
/* 3. GO LIGHT ON SHADOWS, DON'T MAKE THEM TOO DARK!*/
/* USE SHADOWS IN THE RIGHT SITUATION */

/* 4. USE SMALL SHADOWS FOR SMALLER ELEMENTS THAT SHOULD STAND OUT (TO DRAW ATTENTION) */
/* 5. USE MEDIUM-SIZED SHADOWS FOR LARGER AREAS THAT SHOULD STAND OUT A BIT MORE */
/* 6. USE LARGE SHADOWS FOR ELEMENTS THAT SHOULD REALLY FLOAT ABOVE THE INTERFACE (I.E. LIKE A POP UP FORM) */
/* 7. EXPERIMENT WITH CHANGING SHADOWS ON MOUSE INTERACTION (I.E. CLICK AND HOVER) */
/* 8. BONUS: EXPERIMENT WITH GLOWS (COLORED SHADOWS) */


/* WEB DESIGN RULES #6: BORDER-RADIUS NOTES */

/* 1. USE BORDER-RADIUS TO INCREASE THE PLAYFULNESS AND FUN OF THE DESIGN, TO MAKE IT LESS SERIOUS */
/* 2. TYPEFACES HAVE A CERTAIN ROUNDNESS: MAKE SURE THAT BORDER-RADIUS MATCHES THAT ROUNDNESS! KEEP THE STYLING CONSISTENT */
/* 3. USE BORDER-RADIUS ON BUTTONS, IMAGES, AROUND ICONS, STANDOUT SECTIONS AND OTHER ELEMENTS */


/*WEB DESIGN RULES #7: WHITESPACE */
/* WHY WHITESPACE
-THE RIGHT AMOUNT OF WHITESPACE MAKES DESIGNS LOOK CLEAN, MODERN AND POLISHED 
-WHITESPACE COMMUNICATES HOW DIFFERENT PIECES OF INFORMATION ARE RELATED TO ONE ANOTHER
-WHITESPACE IMPLIES INVISIBLE RELATIONSHIPS BETWEEN THE ELEMENTS OF A LAYOUT
*/

/* WHERE TO USE WHITESPACE  */
/* 1. USE TONS OF WHITESPACE BETWEEN SECTIONS */
/* 2. USE A LOT OF WHITESPACE BETWEEN GROUPS OF ELEMENTS */
/* 3. USE WHITESPACE BETWEEN ELEMENTS  */
/* 4. INSIDE GROUPSS OF ELEMENTS, TRY TO USE WHITESPACE INSTEAD OF LINES */

/* HOW MUCH WHITESPACE */
/* 5. THE MORE SOME ELEMENTS (OR GROUPS OF ELEMENTS) BELONG TOGETHER, THE CLOSER THEY SHOULD BE! */
/* -EACH LABEL CLEARLY BELONGS TO A CERTAIN INPUT FIELD */
/* 6. START WITH A LOT OF WHITESPACE, MAYBE EVEN TOO MUCH! THEN REMOVE WHITESPACE FROM THERE  */
/* -TOO MUCH WHITESPACE LOOKS DETACHED, TOO LITTLE LOOKS TOO CRAMMED OR JUST RIGHT, THE DESIGN CAN BREATHE*/
/*7. MATCH OTHER DESIGN CHOICES. IF YOU HAVE BIG TEXT OR BIG ICONS, YOU NEED MORE WHITESPACE  */
/* 8. TRY A HARD RULE, SUCH AS USING MULTIPLES OF 16PX FOR ALL SPACING. USE TYPESCALE FOR THIS*/

/* WEB DESIGN RULES #8: VISUAL HIERARCHY */
/* WHAT IS VISUAL HIERARCHY?
-VISUAL HIERARCHY IS ABOUT ESTABILISHING WHICH ELEMENTS OF A DESIGN ARE THE MOST IMPORTANT ONES 
-VISUAL HIERARCHY IS ABOUT DRAWING ATTENTION TO THESE MOST IMPORTANT ELEMENTS
-VISUAL HIERARCHY IS ABOUT DEFINING A "PATH" (A VISUAL DIRECTION) FOR USERS, TO GUIDE THEM THROUGH THE PAGE
-WE USE A COMBINATION OF POSITION, SIZE, COLORS, SPACING, BORDERS, AND SHADOWS TO ESTABLISH A MEANINGFUL VISUAL HIERARCHY BETWEEN ELEMENTS/COMPONENTS
*/
/* VISUAL HIERARCHY FUNDAMENTALS */
/* 1. POSITION IMPORTANT ELEMENTS CLOER TO THE TOP OF THE PAGE, WHERE THEY GET MORE ATTENTION */
/*-THE MOST IMPORTANT TITLE SHOULD BE CLOSEST TO THE TOP  */
/* 2. USE IMAGES MINDFULLY, AS THEY DRAW A LOT OF ATTENTION (LARGER IMAGES GET MORE ATTENTION) */
/* 3. WHITESPACE CREATES SEPARATION, SO USE WHITESPACE STRATEGICALLY TO EMPHASIZE ELEMENTS */

/* VISUAL HIERARCHY FOR TEXT ELEMENTS */
/* 4. FOR TEXT ELEMENTS, USE FONT SIZE, FONT WEIGHT, COLOR, AND WHITESPACE TO CONVEY IMPORTANCE */
/* 5. WHAT TEXT ELEMENTS TO EMPHASIZE? TITLES, SUB-TITLES, LINKS, BUTTONS, DATA POINTS, ICONS
-YOU CAN ALSO DE-EMPHASIZE LESS IMPORTANT TEXT, LIKE LABELS OR SECONDARY/ADDITIONAL INFORMATION
 */

 /*VISUAL HIERARCHY BETWEEN COMPONENTS  */
 /* 6. EMPHASIZE AN IMPORTANT COMPONENT USING BACKGROUND  COLOR, SHADOW, OR BORDER (OR MULTIPLE)  */
 /* 7. TRY EMPHASIZING SOME COMPONENT A OVER COMPONENT B BY DE-EMPHASIZING COMPONENT B ...USING SUBTLE PROPERTIES, LIKE NOT HAVING A SHADOW OR BACKGROUND COLOR */
 /* 8. WHAT COMPONENTS TO EMPHASIZE? TESTIMONIALS, CALL-TO-ACTION SECTIONS, HIGHLIGHT SECTIONS, PREVIEW CARDS (PREVIEWING PRODUCT), FORMS (LIKE A SIGN UP FORM OF SOME KIND), PRICING TABLES (PACKAGES/PRICING), IMPORTANT ROWS/COLUMNS IN TABLES(COMPARISONS WITH COMPETITOR OFFERINGS AND BENEFITS), ETC.  */
 



 /*   WEB DESIGN RULES #9: USER EXPERIENCE (UX) */

 /* WHAT IS USER EXPERIENCE (UX)? */
/* -USER INTERFACE IS THE VISUAL PREENTATION OF A PRODUCT. IT'S HOW THE GRAPHICAL INTERFACE LOOKS AND FEELS LIKE
      -LAYOUT
      -PERSONALITY
      -TYPOGRAPHY  */
/* -USER EXPERIENCE (UX) IS THE OVERALL EXPERIENCE THE USER HAS WHILE INTERACTING WITH THE PRODUCT 
      -DOES THE APP FEEL LOGICAL AND WELL THOUGHT OUT?
      -DOES THE NAVIGATION WORK INTUITIVELY?
      -ARE USERS REACHING THEIR GOALS?  */

/* UI AND UX DESIGN */
/* UI IS GRAPHICAL INTERFACE-UI DESIGN IS WHAT MAKES AN INTERFACE BEAUTIFUL */
/* UX IS EXPERIENCE WITH INTERFACE-UX IS WHAT MAKES AN INTERFACE USEFUL AND FUNCTIONAL */
/* UX DESIGN CANNOT EXIST WITHOUT UI DESIGN! */

/* UX DESIGN GUIDING PRINCIPLE: GOALS */
/* A WEBSITE OR APPLICATION EXISTS FOR A REASON: A USER HAS A GOAL FOR VISITING IT, AND A BUSINESS HAS A GOAL FOR CREATING IT */
/* GOOD UX DESIGN ALIGNS THE USER'S GOALS WITH THE BUSINESS' GOALS */
/* US EXAMPLE: HIGHLIGHTING AN OPTION IN THE PRODUCT PRICING TABLE
    -HELPS THE USER DECIDE FASTER WHAT'S THE BEST OPTIONS
    -HELPS THE BUSINESS MAXIMIZE THEIR REVENUE */

    /* UX RULES FOR USABILITY */
/* 1. DON'T DESIGN COMPLICATED LAYOUTS. DON'T REINVENT THE WHEEL. USE PATTERNS THAT USERS KNOW */
/* FAMILIARITY WITH THE LAYOUT IS WAY MORE IMPORTANT THAN BEING CREATIVE WITH THE DESIGN*/
/* 2. MAKE YOUR CALL-TO-ACTION THE MOST PROMINENT ELEMENT, AND MAKE THE TEXT DESCRIPTIVE */
/* 3. USE BLUE TEXT AND UNDERLINED TEXT ONLY FOR LINKS! */
/* 4. ANIMATIONS SHOULD HAVE A PURPOSE AND BE FAST: BETWEEN 200 AND 500 MS  */
/* 5. IN FORMS, ALIGN LABELS AND FIELDS IN A SINGLE VERTICAL LINE, TO MAKE THE FORM EASIER TO SCAN */
/* 6. OFFER USERS GOOD FEEDBACK FOR ALL ACTIONS: FORM ERRORS, FORM SUCCESS, ETC. [WEB APPS] */
/* 7. PLACE ACTIONS BUTTONS WHERE THEY WILL CREATE AN EFFECT (LAW OF LOCALITY) [WEB APPS]-->THE LOCATION OF THE ELEMENTS SHOULD BE RELEVANT AND INTENTIONAL */

/* UX RULES FOR WEBSITE CONTENT */
/* 8. USE A DESCRIPTIVE, KEYWORD-FOCUSED HEADLINE ON YOUR MAIN PAGE. DON'T BE VAGUE OR FANCY! */
/* 9. ONLY INCLUDE RELEVANT INFORMATION, EFFICIENTLY! CUT OUT FLUFF AND MAKE THE CONTENT 100% CLEAR  */
/* 10. USE SIMPLE WORDS! AVOID TECHNICAL JARGON AND "SMART-SOUNDING" WORDS  */
/* 11. BREAK UP LONG TEXT WITH SUB-HEADINGS, IMAGES, BLOCK QUOTES, BULLET POINTS, ETC. */


/* THE WEBSITE-PERSONALITIES-FRAMEWORK */
/* TONS OF WELL-DESIGNED SITE DECONSTRUCTED->DISTILLED INTO COUNTLESS WEB DESIGN RULES THAT WE JUST LEARNED (RULES SHOULD BE APPLIED ACCORDING TO SELECTED WEBSITE PERSONALITY)->OR DISTILLED INTO 7 WEBSITE PERSONALITIES  */
/* THE 7 PERSONALITIES:
1. SERIOUS/ELEGANT
2. MINIMALIST/SIMPLE
3. PLAIN.NEUTRAL
4. BOLD/CONFIDENT
5. CALM/PEACEFUL
6. STARTUP/UPBEAT
7. PLAYFUL/FUN
*/
/* HOW DO YOU WANT TO WEBSITE TO APPEAR TO USERS? WHAT "VIBE" DO YOU WANT TO TRANSMIT?->CHOOSE ONE OF THE WEBSITE PERSONALITIES ACCORDINGLY */

/* PERSONALITY 01- SERIOUS/ELEGANT
*OVERVIEW- DESIGN FOR LUXURY AND ELEGANCE, BASED ON THIN SERIF TYPEFACES, GOLDEN OR PASTEL COLORS, AND BIG HIGH-QUALITY IMAGES 
*INDUSTRIES-REAL ESTATE, HIGH FASHION, JEWELRY, LUXURY PRODUCTS OR SERVICES
*TYPOGRAPHY- SERIF TYPEFACES (ESPECIALLY IN HEADINGS), LIGHT FONT WEIGHT, SMALL BODY FONT SIZES
*COLORS-GOLD, PASTEL COLORS, BLACK, DARK BLUE OR GREY
*IMAGES- BIG, HIGH-QUALITY IMAGES  ARE USED TO FEATURE ELEGANT AND EXPENSIVE PRODUCTS
*ICONS- USUALLY NO ICONS, BUT THIN ICONS AND LINES MAY BE USED
*SHADOWS-USUALLY NO SHADOWS
*BORDER-RADIUS- USUALLY NO BORDER-RADIUS
*LAYOUT- A CREATIVE AND EXPERIMENTAL LAYOUT IS QUITE COMMON

PERSONALITY 02- MINIMALIST/SIMPLE
*OVERVIEW- FOCUSSES ON THE ESSENTIAL TEXT CONTENT, USING SMALL OR MEDIUM-SIZED ANS-SERIF BLACK TEXT, LINES, AND FEW IMAGES AND ICONS 
*INDUSTRIES- FASHION, PORTFOLIOS, MINIMALISM COMPANIES, SOFTWARE STARTUPS
*TYPOGRAPHY- BOXED/SQUARED SANS-SERIF TYPEFACES, SMALL BODY FONT SIZES
*COLORS- USUALLY BLACK OR DARK GREY, ON PURE WHITE BACKGROUND. USUALLY JUST ONE COLOR THROUGHOUT THE DESIGN
*IMAGES- FEW IMAGES, WHICH CAN BE USED TO ADD SOME COLOR TO THE DESIGN. USUALLY NO ILLUSTRATIONS, BUT IF, THAN JUST BLACK
*ICONS- USUALLY NO ICONS, BUT SMALL SIMPLE BLACK ICONS MAY BE USED 
*SHADOWS- USUALLY NO SHADOWS
*BORDER-RADIUS-USUALLY NO BORDER-RADIUS
*LAYOUT- SIMPLE LAYOUT, A NARROW ONE-COLUMN LAYOUT IS QUITE COMMON


PERSONALITY 03- PLAIN/NEUTRAL
*OVERVIEW- DESIGN THAT GETS OUT OF THE WAY BY USING VERY NETRAL AND SMALL TYPEFACES, AND A BOXY, STRUCTURED, AND CONDENSED LAYOUT
*INDUSTRIES- WELL-ESTABLISHED CORPORATIONS, COMPANIES THAT DON'T WAN TO MAKE AN IMPACT THROUGH DESIGN 
*TYPOGRAPHY- NEUTRAL-LOOKING SANS-SERIF TYPEFACES ARE USED, AND TEXT IS USUALLY SMALL AND DOESN'T HAVE VISUAL IMPACT
*COLORS- safe colors are employed, nothing too bright or to washed-out. blues and blacks are common. 
*IMAGES- images are frequently used, but usually in a small format
*ICONS- usually no icons, but simple icons may be used
*SHADOWS- USUALLY NO SHADOWS
*BORDER-RADIUS- USUALLY NO BORDER-RADIUS
*LAYOUT- STRUCTURED AND CONDENSED LAYOUT, WITH LOTS OF BOXES AND ROWS

PERSONALITY 04- BOLD/CONFIDENT
*OVERVIEW- DESIGN THAT MAKES AN IMPACT, BY FEATURING BIG AND BOLD TYPOGRAPHY, PAIRED WITH CONFIDENT USE OF BIG COLORED BLOCKS
*INDUSTRIES- DIGITAL AGENCIES, SOFTWARE STARTUPS, TRAVEL, "STRONG" COMPANIES
*TYPOGRAPHY- BOXY/SQUARED SANS-SERIF TYPEFACES, BIG AND BOLD TYPOGRAPHY, ESPECIALLY HEADINGS. UPPERCASE HEADINGS ARE COMMON
*COLORS- USUALLY MULTIPLE BRIGHT COLORS. BIG COLOR BLOCKS/SECTIONS ARE USED TO DRAW ATTENTION
*IMAGES- LOTS OF BIG IMAGES ARE USUALLY DISPLAYED
*ICONS- USUALLY NO ICONS
*SHADOWS- USUALLY NO SHADOWS
*BORDER-RADIUS- USUALLY NO BORDER-RADIUS
*LAYOUT- ALL KINDS OF LAYOUTS, NO PARTICULAR TENDENCIES

PERSONALITY 05- CALM/PEACEFUL
*OVERVIEW- FOR PRODUCTS AND PSERVICES THAT CARE ABOUT THE CUSTOMER, WHICH IS TRANSMITTED BY CALMING PASTEL COLORS AND SOFT SERIF HEADINGS
*INDUSTRIES- HEALTHCARE, ALL PRODUCTS WITH FOCUS ON CONSUMER WELL-BEING
*TYPOGRAPHY- SOFT SERIF TYPEFACES FREQUENTLY USED FOR HEADINGS, BUT SANS-SERIF HEADINGS MIGHT BE USED TOO (E.G. FOR SOFTWARE PRODUCTS)
*COLORS- PASTEL/WASHED OUT COLORS: LIGHT ORANGES, YELLOWS, BROWNS, GREENS, BLUES
*IMAGES- IMAGES AND ILLUSTRATIONS ARE USUAL, MATCHING CALM COLOR PALETTE
*ICONS- ICONS ARE QUITE FREQUENT
*SHADOWS- USUALLY NO SHADOWS, BUT MIGHT BE USED SPARINGLY
*BORDER-RADIUS- SOME BORDER-RADIUS IS USUAL
*LAYOUT- ALL KINDS OF LAYOUTS, NO PARTICULAR TENDENCIES

PERSONALITY 06- STARTUP/UPBEAT
*OVERVIEW- WIDELY USED IN STARTUPS, FEATURING MEDIUM-SIZED SANS-SERIF TYPEFACES, LIGHT-GREY BACKGROUNDS, AND ROUNDED ELEMENTS
*INDUSTRIES- SOFTWARE STARTUPS, AND OTHER MODERN-LOOKING COMPANIES
*TYPOGRAPHY- MEDIUM-SIZED HEADINGS (NOT TOO LARGE), USUALLY ONE SANS-SERIF TYPEFACE IN WHOLE DESIGN. TENDENCY FOR LIGHTER TEXT COLORS. 
*COLORS- BLUES, GREENS AND PURPLES ARE WIDELY USED. LOTS OF LIGHT BACKGROUNDS (MAINLY GRAY), GRADIENTS ARE ALSO COMMON
*IMAGES- IMAGES OR ILLUSTRATIONS ARE ALWAYS USED. 3D ILLUSTRATIONS ARE MODERN. SOMETIMES PATTERNS AND SHAPES ADD VISUAL DETAILS. 
*ICONS- ICONS ARE VERY FREQUENT
*SHADOWS- SUBTLE SHADOWS ARE FREQUENT. GLOWS ARE BECOMING MODERN
*BORDER-RADIUS- BORDER-RADIUS IS VERY COMMON
*LAYOUT- ROWS OF CARDS AND Z-PATTERNS ARE USUAL, AS WELL AS ANIMATIONS

PERSONALITY 07- PLAYFUL/FUN
*OVERVIEW- COLORFUL AND ROUND DESIGNS, FUELED BY CREATIVE ELEMENTS LIKE HAND-DRAWN ICONS OR ILLUSTRATIONS, ANUMATIONS AND FUN LANGUAGE
*INDUSTRIES- CHILD PRODUCTS, ANIMAL PRODUCTS, FOOD
*TYPOGRAPHY- ROUND AND CREATIVE (E.G. HANDWRITTEN) SANS-SERIF TYPEFACES ARE FREQUENT. CENTERED TEXTIS MORE COMMON
*COLORS- MULTIPLE COLORS ARE FREQUENTLY USED TO DESIGN A COLORFUL LAYOUT, ALL OVER BACKGROUNDS AND TEXT 
*IMAGES- IMAGES, HAND-DRAWN (OR 3D) ILLUSTRATIONS, AND GEOMETRIC SHAPES AND PATTERNS ARE ALL VERY FREQUENTLY USED
*ICONS- ICONS ARE VERY FREQUENT, MANY TIMES IN A HAND-DRAWN STYLE
*SHADOWS- SUBTLE SHADOWS ARE QUITE COMMON, BUT NOT ALWAYS USED
*BORDER-RADIUS- BORDER-RADIUS IS VERY COMMON
*LAYOUT- ALL KINDS OF LAYOUTS, NO PARTICULAR TENDENCIES


ADVANCED: COMBINING PLAYFULNESS AND BOLDNESS


*/

/* THE MISSING PIECE */
/* 4. GET INSPIRED AND STEAL LIKE AN ARTIST (THIS MEANS WE DON'T COMPLETELY COPY A CEERTAIN DESIGN, BUT WE TAKE THE GOOD PARTS OF MANY GOOD DESIGNS AND ADAPT THEM TO OUR NEEDS) */
/* GREAT SOURCES OF INSPIRATION: 
>>LAND.BOOK.COM (TONS OF WEBSITE DESIGNS TO MODEL AFTER) 
>>ONEPAGELOW.COM (UNDER INSPIRATION TAB)
>>AWWWARDS.COM (COLLECTIONS>WEBSITES)
>>SCREENLANE.COM (FOR INDIVIDUAL COMPONENTS)


AFTER LOOKING AT SO MANY SITES, YOU WILL NOTICE PATTERNS EMERGE. 

 */


 /* SECTION 6 */
 /* WEB DESIGN RULES #10- PART 1: ELEMENTS AND COMPONENTS */
 /* From Elements to Webpage  */
 /* Elements (Paragraphs, buttons, etc.) > Components (Pricing table, etc.) >Layouts (patterns) > Webpage  */
 /* 1. USE COMMON ELEMENT AND COMPONENTS TO CONVEY YOUR WEBSITE'S INFORMATION */
 /* 2. COMBINE COMPONENTS INTO LAYOUTS USING COMMON LAYOUT PATTERNS */
 /* 3. ASSEMBLE DIFFERENT LAYOUT AREAS INTOA  COMPLETE, FINAL PAGE */

 /* GALLERY INDEX: ELEMENTS, SECTIONS, PATTERNS */
 /* 
 A.  ELEMENTS
  1. TEXT
    -Use font, bold/not bold to start new sections
  2. BUTTONS
    -Many different kinds of buttons
  3. IMAGES
    -
  4. INPUT ELEMENTS
    -Single input elements (i.e. like one input value to put in your address)
  5. TAGS
    -Simple elements to create visual representation of categories

 B. COMPONENTS 
  1. BREADCRUMBS
    -(for complex sites, basically showing the file path on the website)
  2. PAGINATION
    -for many results from a search 
  3. ALERT AND STATUS BARS
    -for notifications 
  4. STATISTICS
    -evidence to show customers to convince them why they should buy your product/service
  5. GALLERY
    -
  6. FEATURE BOX
    -They use some kind of box and icon and small amount of text (common to have in a grid layout) 
  7. PREVIEW AND PROFILE CARDS 
    -Typically to showcase products/services and some features about them
  8. ACCORDION 
    -A way of hiding the information until the user clicks the element
    (KEEPS THE PAGE FORM LOOKING CLUTTERED)
  9. TABS 
    -A way to hide information in the beginning and then show the information to the user once the right tab is clicked 
    (MANY WAYS OF DESIGNING TABS, COULD BE VERTICALLY STACKED OR HORIZONTALLY FORMATTED)
  10. CAROUSEL 
    -ALSO CALLED A "SLIDER" 
    -USUALLY DOTS AT THE BOTTOM AND ARROWS AT LEFT AND RIGHT SIDE 
  11. CUSTOMER TESTIMONIOALS 
    -CUSTOMER REVIEWS (THEIR OPINIONS OF THE PRODUCT/SERVICE) 
    (COULD EVEN BE TWEETS OR SOCIAL MEDIA COMMENTS ABOUT THE COMPANY FROM USERS) 
  12. CUSTOMER LOGOS
    -FOR B2B, GREAT FOR A MARKETING WEBSITE 
    -LIST WELL-KNOWN CUSTOMERS IN ORDER TO BUILD TRUST OF THE CUSTOMERS IN YOUR BRAND 
    (USUALLY AT BOTTOM OF PAGE)
  13. FEATURED-IN LOGOS
    -PLACES WHERE MY COMPANY'S PRODUCT/SERVICE HAS BEEN FEATURED 
    -THIS BUILDS TRUST WITH MY CUSTOMERS
  14. STEPS 
    -SHOW THE CUSTOMER HOW THE PRODUCT OR SERVICE ACTUALLY WORKS IN A SIMPLISTIC FEW STEPS (HOW TO USE IT OR HOW TO GET START WITH IT) 
  15. FORMS 
    -LOGIN OR SIGN-UP FORMS 
    -BIGGER FORMS FOR APPLICATIONS 
  16. TABLES
    -CAN BE HELPFUL TO DISPLAY TABULAR DATA, CAN BE USED TO COMPARE TO COMPETITORS AND FEATURED OFFERED 
  17. PRICING TABLES
    -COMMON ON ALL MARKETING PAGES WHERE IT DISPLAYS OFFERINGS FOR DIFFERENT PLANS (PRICING, DESCRIPTION, FEATURES INCLUDED, BUTTON TO SIGN UP); THE MOST POPULAR ONE IS NORMALLY HIGHLIGHTED
  18. MODAL WINDOWS
    -BASICALLY A POP UP WINDOWS (WHETHER FOR MARKETING PURPOSES, AN OPT-IN FORM LIKE FOR EMAIL NEWSLETTERS, ETC.) 


 C. SECTION COMPONENTS

 D. LAYOUT PATTERNS




  */

